# SPDX-FileCopyrightText: Copyright (c) {{ github_copyright_year }} {{ github_copyright_holder }}
#
# SPDX-License-Identifier: {{ github_license }}

---
name: {{ github_workflows.commit.name }}

on:
  push:
    branches: [{{ github_default_branch }}]
  pull_request:
    branches: [{{ github_default_branch }}]
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read
  security-events: write
  statuses: write

jobs:
  commit-validation:
    name: Validate Commits
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ "{{" }} secrets.GITHUB_TOKEN {{ "}}" }}
      
      - name: Validate Commit Messages
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: '.conform.yaml'
          
      - name: Validate DCO
        uses: dcoapp/dco-check@v1
        with:
          token: ${{ "{{" }} secrets.GITHUB_TOKEN {{ "}}" }}
          
  compliance-check:
    name: Code Quality & Compliance
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          token: ${{ "{{" }} secrets.GITHUB_TOKEN {{ "}}" }}
          
      - name: MegaLinter
        id: ml
        uses: oxsecurity/megalinter/flavors/cupcake@v7
        env:
          DEFAULT_BRANCH: {{ github_default_branch }}
          GITHUB_TOKEN: ${{ "{{" }} secrets.GITHUB_TOKEN {{ "}}" }}
          VALIDATE_ALL_CODEBASE: true
          
      - name: Archive production artifacts
        if: ${{ "{{" }} always() {{ "}}" }}
        uses: actions/upload-artifact@v4
        with:
          name: MegaLinter reports
          path: |
            megalinter-reports
            mega-linter.log