# SPDX-FileCopyrightText: Copyright (c) {{ github_copyright_year }} {{ github_copyright_holder }}
#
# SPDX-License-Identifier: {{ github_license }}

---
version: 2
# Check for updates to GitHub Actions every week
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    # Allow Dependabot to open PRs for GitHub Actions updates
    open-pull-requests-limit: 10
